/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} *

----------------------------*/
.header{
  border: 2px solid blue;
  display: flex;
}
.left-side{
  border: 2px solid red;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  
}
.right-side{
  border: 2px solid green;
  flex: 1;

}
.left-side-wrapper{
  padding: 20px;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hello{
  font-size: 30px;
  font-weight: 400;
  padding: 0 20px;
  

}
.name{
  font-size: 70px;
  padding: 0 20px;
  margin-top: 0;
}
h3{
  font-size: 40px;
  font-weight: bold;
  color: rgb(255, 132, 0);
  margin: 0;
  padding: 0 20px;
}

.title{
  height: 50px;
  overflow: hidden;
}
.title-items{
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: grey;
  display: flex;
  align-items: center;
}
h4{
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: grey;
  
}
.title-wrapper{
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;

}
@keyframes move {
  20%{
    transform: translateY(-50px);
  }
  40%{
    transform: translateY(-100px);
  }
  60%{
    transform: translateY(-150px);
  }
  80%{
    transform: translateY(-200px);
  }
  100%{
    transform: translateY(-250px);
  }

}
.r-img{
  width: 80%;
  height: 80%;
  /* object-fit: cover; */
  margin: 5%;
  border: 5px solid rgb(255, 132, 0);

  
}

.about{
  /* border: 2px solid purple; */
  height: 100vh;
  display: flex;
  align-items: center;
}
.a-left{
  /* border: 2px solid yellow; */
  flex: 1;
  margin-top: 0px;
  

}
.a-right{
  /* border: 2px solid orangered; */
  flex: 2;
  margin-top: 0px;

}
.me{
  margin: 0 40px 20px;
}
.a-card{
  width: 60%;
  height: 70vh;
  border-radius: 30px;
}
.a-image{
  width: 140%;
  height: 70%;
  border-radius: 30px;
  margin: 0 40px;

}
.a-description{
  font-size: 24px;
  font-weight: bold;

}
/* --------------Productlist css---------- */
.prod-list{
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.prod-list-text{
  width: 65%;
}
.prod-list-title{
  font-size: 50px;
  font-weight: bold;
}
.prod-list-desc{
  margin: 20px 0px;
}
.prod-list-items{
  display: flex;

}

/* ------------products css---------- */
.cards{
  width: 40vh;
  height: 50vh;
  margin: 20px 30px;
  border: 2px solid rgb(205, 201, 201);
  border-radius: 10px;
}
.cards-browser{
  height: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(243, 242, 242);
  border-radius: 10px;
  position: sticky;
  z-index: 2;

}
.cards-circle{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  margin: 3px;

}

.card-img{
  width: 100%;
  transition: all 10s ease;

}
.cards:hover .card-img{
  transform: translateY(-100%);
}

/* -------------contact css-----  */
.contact{
  height: 100vh;
  position: relative;
}
.contact-backgr{
  width: 20px;
  height: 100%;
  background-color: rgb(255, 132, 0);
  position: absolute;

}
.contact-wrapper{
  padding: 50px;
  display: flex;
}
.contact-title{
  /* border: 2px solid red; */
  font-size: 50PX;
  width: 90%;

}
.contact-info-item{
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  margin: 30px 0px;
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  height: 50px;
}

.contact-icon{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.contact-description{
  font-weight: bold;

}