/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} *

----------------------------*/
.header{
  /* border: 2px solid blue; */
  display: flex;

}
.left-side{
  /* border: 2px solid red; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: navy;
  
}
.right-side{
  /* border: 2px solid green; */
  flex: 1;
  background-color: rgb(255, 132, 0);

}
.left-side-wrapper{
  padding-top: 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hello{
  font-size: 30px;
  font-weight: bold;
  padding: 0 20px;
  text-align: center;
  color: white;
  

}
.name{
  font-size: 60px;
  padding: 0 20px;
  margin-top: 0;
  text-align: center;
  color: white;
}
h3{
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 132, 0);
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.title{
  height: 50px;
  overflow: hidden;
}
.title-items{
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: grey;
  display: flex;
  align-items: center;
  
}
h4{
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: grey;
  
}
.title-wrapper{
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;

}
@keyframes move {
  20%{
    transform: translateY(-50px);
  }
  40%{
    transform: translateY(-100px);
  }
  60%{
    transform: translateY(-150px);
  }
  80%{
    transform: translateY(-200px);
  }
  100%{
    transform: translateY(-250px);
  }

}
.description{
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;

}
.r-img{
  width: 90%;
  height: 90%;
  margin: 35px 30px 35px 40px;
  
  
  /* border: 5px solid rgb(255, 132, 0); */
}

.about{
  /* border: 2px solid purple; */
  height: 60vh;
  display: flex;
  align-items: center;
  background-color: navy;
}
.a-left{
  /* border: 2px solid yellow; */
  flex: 1;
  margin-top: 0px;
  

}
.a-right{
  /* border: 2px solid orangered; */
  flex: 2;
  margin-top: 0px;

}
.me{
  /* margin: 0 40px 20px; */
  text-align: center;
  color: orange;
}
.a-card{
  width: 60%;
  height: 55vh;
  border-radius: 30px;
}
.a-image{
  width: 140%;
  height: 70%;
  border-radius: 30px;
  margin: 0 40px;

}
.a-description{
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;

}
/* --------------Productlist css---------- */
.prod-list{
  /* padding: 50px 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: navy;
}
.prod-list-text{
  width: 65%;
}
.prod-list-title{
  font-size: 50px;
  font-weight: bold;
  color: orange;
}
.prod-list-desc{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.prod-list-items{
  display: flex;

}

/* ------------products css---------- */
.cards{
  width: 40vh;
  height: 40vh;
  margin: 20px 30px;
  border: 2px solid rgb(205, 201, 201);
  border-radius: 10px;
}
.cards-browser{
  height: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(243, 242, 242);
  border-radius: 10px;
  position: sticky;
  z-index: 2;

}
.cards-circle{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  margin: 3px;

}

.card-img{
  width: 100%;
  transition: all 10s ease;

}
.cards:hover .card-img{
  transform: translateY(-100%);
}

/* -------------contact css-----  */
.contact{
  height: 70vh;
  position: relative;
  background-color: rgba(236, 230, 230, 0.618)
}
.contact-backgr{
  width: 30px;
  height: 100%;
  background-color: rgb(255, 132, 0);
  position: absolute;

}
.contact-wrapper{
  padding: 50px;
  display: flex;
}
.contact-title{
  /* border: 2px solid red; */
  font-size: 50PX;
  width: 90%;

}
.contact-info-item{
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  margin: 10px 0px;
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  height: 50px;
}

.contact-icon{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.contact-description{
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}


input{
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 2px solid black;
  margin: 10px 0px;
  font-size: 16px;
  padding-left: 12px;
}
.form{
margin-top: 20px;
}
.infos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button{
  border:none;
  padding: 15px;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

textarea{
  width: 55%;
}

/* ---------------navheader */
.header2{
  height: 100px;
  /* border: 2px solid red; */
  display: flex;
  background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1vdmllJTIwYXBwc3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
  background-size: 200px;
  

}

.logo-img{
  flex:1;
  width:200px;
  height: 100px;
  margin-left: 30px;
  margin-top: 5px ;

}
.category-Wrapper{
  flex:2;
  /* margin-left: 50px; */
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}
.cat-title{
  margin-left: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: white;

}

@keyframes move {
  33%{
    transform: translateY(-20PX);
  }
  66%{
    transform: translateY(-40px);
  }
  100%{
    transform: translateY(-60px);

  }
}

.btnS{
  width: 100px;
  height: 50px;
  margin: 25px 15px;
  color: white;
  background-color: red;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.btnS:hover{
  background-color: rgb(200, 125, 125);
}
  /* --------------pictures */
  .pictures{
    height: 180px;
    /* border: 2px solid blue; */
    margin-top: 40px;
    display: flex;
  
  }
  
  .pict-movies{
    display: flex;
    overflow: hidden;
  
  }
  .pict-movie{
    margin: 0px 10px;
    border: 3px solid red;
    width: 167px;
  
  }

  .currentProj{
    font-size: 30px;
    border: 2px solid blue;
    margin-bottom: 30px;
  }
  
  /* -----browser */

  .navb{
    border:  2px solid green;

  }
  .MovieSearchInput {
    height: 50px;
    width: 490px;
    border: 3px solid black;
    margin-left: 450px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }

  .MovieSearchSubmitButton {
    height: 58px;
    width: 100px;
    border: 3px solid black;
    font-size: 22px;
    font-weight: bold;
  }
  .MovieSearchSubmitButton:hover {
    background-color: grey;
  }

  
  .footer{
    border: 1px solid red;
    height: 50px;
    width: 99%;
    color: gray;
    text-align: center;
    padding: 0;
    padding-bottom: 8px;
    background-color:black;
    margin: 0 8px;
  
  }

  .details{
  display:flex;
  }

  .detail-l{
    margin-left: 80px;
  }
  .detail-r{
  margin-left: 20px;
  margin-top: 80px;
  font-weight: bold;
  font-size: 24px;
    
  }
